body{
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400, 500, 600, 700;
}
a{
    text-decoration: none;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    background-image: url(./images/bg-intro-desktop.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:hsl(0, 100%, 74%);
    padding: 10%;
    margin: 10%;
    color: white;
    font-family: "Poppins", serif;
    
}
.text{
    align-content: center;
}
.header{
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}
.main-form{
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10%;
}
.main-form input{
    border-radius: 5px;
    margin-top: 10px;
    width: 96%;
    min-height: 2em;
}
span a{
    color: red;
}
button{
    color: white;
    background-color: hsl(154, 59%, 51%);
    margin-top: 10px;
    min-height: 2em;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    border-color: hsl(154, 59%, 51%);
}
.tc-text{
    color: gray;
}

/*Media queries*/
@media(max-width: 375px){
    .main{
        display: grid;
        grid-template-columns: none;
        grid-gap: 1em;
        margin: none;
    }
    .text{
        text-align: center;
    }
}